* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    

}

/*INDEX*/
body {
    background-color: whitesmoke;
    
}

/*NAVBAR*/
.Navbar1  {
    display: flex;
    font-size:16px;
    background-color: aliceblue;
    position: relative;
    top: 0;

}
@media (max-width:600px) {
    .Navbar1 {
        display: flex;
        font-size:16px;
        background-color: aliceblue;
        position: relative;
        top: 0;
    }
}

/*h1*/
.titulo {
    
    font-size: 30px;
    color: rgba(2, 2, 2, 0.918); 
    
    background-color: #3089c1aa;
    height: 4rem;
    width: 135rem;
    text-align: center;

}
@media (max-width:600px) {
    .titulo {
    font-size: 30px;
    color: rgba(2, 2, 2, 0.918); 
    
    background-color: #3089c1aa;
    height: 4rem;
    width: 135rem;
    text-align: center;

    }
}
/*h2*/
.productos {
    text-align: center;
    
}
.imgsintacc {
    width: 18px;
    height: 18px;
}


nav {
    background-image: url(../img/AnheladosLogo.jpeg);
    background-repeat: repeat; 
    height: 4rem;
    width: 135rem; 
    
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 1rem;

}


/*CARROUSEL*/
.carrousel {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    font-size: 3rem;
    --bs-gutter-x: 9.5rem;
    --bs-gutter-y: 0;

} 
.imgph {
    height: 600px;
    object-fit: cover;
    width: 100% !important;
}
.imghelados {
    height: 600px;
    object-fit: cover;
    width: 100% !important;
}
.imglogo {
    height: 600px;
    object-fit: cover;
    width: 100% !important;
}
.imghuevos {
    height: 600px;
    object-fit: cover;
    width: 100% !important;
    
}


/*REDES SOCIALES*/
.redesSociales {
    text-align: center;
    background-image: url(../img/AnheladosLogo.jpeg);
    background-repeat: repeat; 
    height: 6rem;
    width: 135rem;
}

h3 ul li{
    list-style-type: none;
    display: inline-block;
    margin: 1rem;
}

    



/*FOOTER*/
.footer {
    padding-top: 2rem;
    background-color: #3089c1aa;
    text-align: center;
    grid-area: footer;
}
@media (max-width:600px) {
    .footer {
        padding-top: 2rem;
    background-color: #3089c1aa;
    text-align: center;
    grid-area: footer;
    }
}

/*BUTTON*/
.buttonestilo {
    display: inline-block;
    position: fixed;
    
    top: 0;
    height: 80px;
    width: 80px; 
    border-radius: 60px;
    background: linear-gradient(to top, rgb(91, 161, 205), #3086);
    
}    
.buttonestilo:hover {

    background-color: #3089c1aa;
    height: 100px;
    width: 100px;
    transition: 1.4s;
    position: sticky;
    top: 0;
}


/*Index FORMULARIO1*/
.formularioDiseño {
    background-color: #3089c1aa;
    height: 38rem;
}


.formulario1 {
    background-color: #3089c1aa;
    text-align: center;
    font-size: 20px;
}
.footerFormulario h2 {
    text-align: center end;
    font-size: 10px;
}

/*Index TORTAS*/
.tortasSection {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
}
.TORTAS1 {
    text-align: center;
    background-color: #3089c1aa;
}
.TORTAS2  {
    text-align: center;
    background-image: url(../img/AnheladosLogo.jpeg);
    background-repeat: repeat; 
    height: 6rem;
    width: 135rem;
}
h2 ul li{
    list-style-type: none;
    display: inline-block;
    margin: 1rem;
}

.TORTAS3 {
    padding-top: 0.5rem;
    background-color: #3089c1aa;
    text-align: center;
    grid-area: footer;
}
/*index PASTELERIA*/
.Pasteleria {
    background-color: #3089c1aa;
    text-align: center;
   
}
/*PASTELERIA*/
.Pasteleria1 {
   background-color: #3089c1aa;
   text-align: center;
}
.pasteleriaFooter {
    background-color: #3089c1aa;
    text-align: center;
}




/*HELADOS*/
.h1Helados {
    background-color: #3089c1aa;
    text-align: center;
}
.pHelados {
    text-align: center;
    font-size: 16px;
}
.footerHelados {
    background-color: #3089c1aa;
    text-align: center;
}
.HeladosA {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
}

/*HUEVOS INDEX*/
.huevosh1 {
    background-color: #3089c1aa;
    text-align: center;
}
.huevosFooter{
    background-color: #3089c1aa;
    text-align: center;
    font-size: 16px;
}

/*  PANADERIA */
.panaderia {
    background-color: #3089c1aa;
    text-align: center;
    font-size: 16px;
}
.panaderiacard {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
}
.Panaderia1 {
    text-align: center;
    background-image: url(../img/AnheladosLogo.jpeg);
    background-repeat: repeat; 
    height: 6rem;
    width: 135rem;
}
.panaderiaFooter {
    text-align: center;
    background-color: #3089c1aa;
}




  








